# backend/.gitignore
# Python
backend/__pycache__/
*.py[cod]
*$py.class
*.so
.Python
backend/venv/
ENV/
env/
backend/downloads/
backend/transcripts/
*.pkl
*.faiss
del-pyvenv.cfg
structure.txt
backend/.env
frontend/streamlit/venv/
frontend/react/.env