# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
del-pyvenv.cfg

# Project specific directories
downloads/
backend/downloads/
transcripts/
backend/transcripts/
logs/
backend/logs/

# Data files
*.pkl
*.faiss

# Configuration and sensitive files
.env
backend/.env
frontend/streamlit/.env
frontend/react/.env
structure.txt
notes.txt

# Virtual environments
backend/venv/
frontend/streamlit/venv/
frontend/react/node_modules/


untracked/